body {
  min-width: 576px;
  max-width: 2000px;
}
input.instantUpdate {
  background-color: rgba(255, 0, 0, 0.1);
}
.navbarOffset {
  padding-top: 60px !important;
}
.toastContainer {
  position: fixed !important;
  padding: 5px;
}
.debugToast,
.infoToast {
  background-color: rgba(114, 214, 253, 0.5) !important;
}
.warningToast {
  background-color: rgba(255, 181, 44, 0.603) !important;
}
.errorToast,
.criticalToast {
  background-color: rgba(216, 41, 18, 0.678) !important;
}
.component {
  position: relative;
  float: left !important;
  padding: 5px !important;
  z-index: 1;
}
.dataServiceComponent {
  width: 100%;
}
.deviceConnectionComponent {
  position: relative;
  float: left !important;
  width: 100%;
  z-index: 1;
}
.overlayContent {
  position: absolute;
  inset: 5px; /* (see https://developer.mozilla.org/en-US/docs/Web/CSS/inset) */
  background: rgba(155, 155, 155, 0.75);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Stack children vertically */
  border-radius: var(--bs-border-radius);
  border: var(--bs-border-width) solid var(--bs-border-color-translucent)
}
